In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import numpy as np

In [6]:
x = 1
y = 1
z =1
n = 2
for i in range(x + 1):
    print('i is: ', i)
    for j in range(y + 1):
        print('j is: ', j)
        for k in range(z + 1):
            print('k is: ', k)
#             if i + j + k != 2:
            print(i, j , k)

i is:  0
j is:  0
k is:  0
0 0 0
k is:  1
0 0 1
j is:  1
k is:  0
0 1 0
k is:  1
0 1 1
i is:  1
j is:  0
k is:  0
1 0 0
k is:  1
1 0 1
j is:  1
k is:  0
1 1 0
k is:  1
1 1 1

In [162]:
x = 1
y = 1
z =1
n = 2
for i in range(x + 1):
    print([i], end=" ")
    for j in range(y + 1):
        print([j], end=" ")
        for k in range(z + 1):
            print([k], end=" ")
            if i + j + k != 2:
                print([i, j , k], end=" ")

[0] [0] [0] [1] [1] [0] [1] [0, 1, 1] [1] [0] [0] [1] [1, 0, 1] [1] [0] [1, 1, 0] [1]

In [163]:
lst = []
for x in range(10):
   lst.append(x)
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
squares = [1, 4, 9, 16, 25]

In [5]:
squares[:2]

[1, 4]

## Using Python As A Calculater

Division (/) always returns a float (decimal). To do floor division and 
get an integer result (discarding any fractional result) you can
use the // operator; to calculate the remainder you can use %:

In [6]:
2 + 2
4
50 - 5*6
20
(50 - 5*6) / 4
5.0
8 / 5  # division always returns a floating point number
1.6
2 + 2

4

In [8]:
5 ** 2  # 5 squared
25
2 ** 7  # 2 to the power of 7
128

128

In [9]:
tax = 12.5 / 100
price = 100.50
price * tax
12.5625
price + _
113.0625
round(_, 2)
113.06

113.06

## Strings

In [12]:
s = 'First line.\nSecond line.'  # \n means newline
s  # without print(), \n is included in the output
'First line.\nSecond line.'
print(s)  # with print(), \n produces a new line

First line.
Second line.

If you don’t want characters prefaced by \ to be interpreted as special characters, you can use raw strings by adding an r before the first quote:

In [16]:
print('C:\some\name')  # here \n means newline!

print(r'C:\some\name')  # note the r before the quote

C:\some
ame
C:\some\name

Strings can be concatenated (glued together) with the + operator, and repeated with *:
Two or more string literals (i.e. the ones enclosed between quotes) next to each other are automatically concatenated.

In [30]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

In addition to indexing, slicing is also supported. While indexing is used to obtain individual characters, slicing allows you to obtain substring:

In [58]:
word = 'Python'

word[0:2]  # characters from position 0 (included) to 2 (excluded)

word[2:5]  # characters from position 2 (included) to 5 (excluded)

'Py'

'tho'

In [59]:
word[4:30]

'on'

In [61]:
s = 'supercalifragilisticexpialidocious'
len(s)
#gives you the length of the string

34

## Lists

In [84]:
#You can also glue lists together
squares = [1, 4, 9, 16, 25]
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [86]:
#You can add new items to a list using the append() method
squares.append(111)
squares

[1, 4, 9, 16, 25, 111]

In [89]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters
# replace some values
letters[2:5] = ['C', 'D', 'E']
letters
letters[2:5] = []
letters
# clear the list by replacing all the elements with an empty list
letters[:] = []
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

['a', 'b', 'C', 'D', 'E', 'f', 'g']

['a', 'b', 'f', 'g']

[]

In [90]:
#You can also make lists containing other lists
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x
x[0]
x[0][1]

[['a', 'b', 'c'], [1, 2, 3]]

['a', 'b', 'c']

'b'

In [91]:
# Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1
while a < 10:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8

## For Statements

In [95]:
words = ['cat', 'window', 'defenestrate']
for w in words[:]:  # Loop over a slice copy of the entire list.
    if len(w) > 6:
        words.insert(0, w)
words

['defenestrate', 'cat', 'window', 'defenestrate']

## Range ( ) Function

In [97]:
#To iterate over the indices of a sequence, you can combine range() and len() as follows:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
     print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [100]:
#The function list( ) creates lists from iterables:
list(range(5))

[0, 1, 2, 3, 4]

## break and continue Statements, and else Clauses on Loops

In [101]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

continue statement continues with the next iteration of the loop

## Pass Statements

pass statements pretty much do nothing. it can be used when a statement is needed syntactically.

## Defining Functions

def introduces the function definition. I has to be followed by the function and the list of parameters in brackets. The next line, the body, has to be indented.

In [102]:
def fib2(n):  # return Fibonacci series up to n
    """Return a list containing the Fibonacci series up to n."""
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)    # see below
        a, b = b, a+b
    return result
f100 = fib2(100)    # call it
f100                # write the result

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

## Default Argument Values

In [120]:
i = 5

def f(arg=i):
    print(arg)
i = 6
f()

5

In [128]:
def f(a, L=[]):
    L.append(a)#append means add onto list
    return L

print(f(1))
print(f(2))
print(f(3))

[1]
[1, 2]
[1, 2, 3]

In [132]:
def f(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L

In [135]:
print(L.append(a))

None

In [137]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

#valid calls
    
parrot(1000)                                          # 1 positional argument
parrot(voltage=1000)                                  # 1 keyword argument
parrot(voltage=1000000, action='VOOOOOM')             # 2 keyword arguments
parrot(action='VOOOOOM', voltage=1000000)             # 2 keyword arguments
parrot('a million', 'bereft of life', 'jump')         # 3 positional arguments
parrot('a thousand', state='pushing up the daisies')  # 1 positional, 1 keyword

#all the following calls would be invalid:

parrot()                     # required argument missing
parrot(voltage=5.0, 'dead')  # non-keyword argument after a keyword argument
parrot(110, voltage=220)     # duplicate value for the same argument
parrot(actor='John Cleese')  # unknown keyword argument

SyntaxError: positional argument follows keyword argument (<ipython-input-137-206570b07327>, line 19)

In [11]:
def split_and_join(line):
    # write your code here
    line = line.split(" ")
    joined = "-".join(result)
    return joined
split_and_join(line)

'The-first-line-contains-a-string-consisting'

In [44]:
def split_and_join(line):
# write your code here
    result = line.split(" ")
    joined = "-".join(result)
    print(joined)
split_and_join(line)

The-first-line-contains-a-string-consisting

In [90]:
string = 'ABCDCDC'
sub_string = 'CDC'
def count_substring(string, sub_string):
    counts = 0
    for counts in range(string[0:4]):
        #this only refers to the first 3 items of the string when you need to go through all the items. 
        #can't use counts in the loop because it is being used down there ⬇
        if sub_string in string:
        #can't say this because everytime it would be true because the loop is running through the entire string
            counts += 1
    return counts
count_substring(string, sub_string)

TypeError: 'str' object cannot be interpreted as an integer

In [136]:
string = 'ECDCCDCC'
sub_string = 'CDCC'
print(len(string))
def count_substring(string, sub_string):
    counts = 0#set counts to 0 so you can add to it later 
    for idx in range(len(string)-len(sub_string) + 1):#len of string - len of sub string + 1: index doesn't include last number
        part = string[idx:idx + len(sub_string)]#index to index + len of sub string: e.g: In: string[0:4] Out: 'ECDC'
        print(part, idx, idx+ len(sub_string))
        if part == sub_string:#if the 3 letters equals the sub string, + 1 to counts
            counts += 1
            #print(part)
    return counts
count_substring(string, sub_string)

8
ECDC 0 4
CDCC 1 5
DCCD 2 6
CCDC 3 7
CDCC 4 8

2

In [137]:
string[0:4]

'ECDC'

In [133]:
part = string[idx:idx + len(sub_string)]

NameError: name 'idx' is not defined

In [119]:
range(4)

range(0, 4)

In [98]:
print(len(string)-2)
print(part)

17

NameError: name 'part' is not defined

### hash

In [107]:
int_val = 4
str_val = 'Glowtfm1'
flt_val = 24.56
# Printing the hash values. 
# Notice Integer value doesn't change 
# You'l have answer later in article. 
print ("The integer hash value is : " + str(hash(int_val))) 
print ("The string hash value is : " + str(hash(str_val))) 
print ("The float hash value is : " + str(hash(flt_val)))

The integer hash value is : 4
The string hash value is : -136635921827926090
The float hash value is : 1291272085159665688

In [108]:
hash(str_val)

-136635921827926090

In [109]:
a = '1 2'
integer_list = map(int, a.split(' '))
t = tuple(integer_list)
print(t, hash(t))

(1, 2) 3713081631934410656

In [112]:
for i in map(int, a.split()):
    print(i)

1
2

In [2]:
student_marks = {}
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores

NameError: name 'n' is not defined

In [6]:
tel={ 'hi':23, 'poopy':1234}
tel.keys()

dict_keys(['hi', 'poopy'])

In [7]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [9]:
n = kayla 13 16 23
student_marks = {}
    for marks in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    marks = student_marks[query_name]
    average_mark = sum(marks)/len(marks)
    print(average_mark)

SyntaxError: invalid syntax (<ipython-input-9-62874307480c>, line 1)

In [13]:
string = "abracadabra"
l = list(string)
print(l)
l[5] = 'k'
print(l[5])
string = ''.join(l)
print(string)

['a', 'b', 'r', 'a', 'c', 'a', 'd', 'a', 'b', 'r', 'a']
k
abrackdabra

In [16]:
string = string[:5] + "k" + string[6:]

print(string)

abrackdabra

In [19]:
string[:5] + 'k' + string[6:]

'abrackdabra'

In [ ]:
s = 'sifuhglfg'

In [22]:
string = ''.join(l)
print(string)

abrackdabra

## Classes

In [ ]:
#simplest form of class definition ⬇
class ClassName:
    <statement-1>
    .
    .
    .
    <statement-N>

   Class definitions, like function definitions (def statements) must be executed before they have any effect. (You could possibly put a class definition in a branch of an if statement, or inside a function.)

   The statements inside a class definition will usually be function definitions, but other statements are allowed, and can be useful. The function definitions inside a class, normally have a strange form of argument list, dictated by the calling conventions for methods.

   When a class definition is entered, a new namespace is created, and used as the local scope — thus, all assignments to local variables go into this new namespace. In particular, function definitions bind the name of the new function here.

   When a class definition is left normally (via the end), a class object is created. This is basically a wrapper around the contents of the namespace created by the class definition. The original local scope (the one in effect just before the class definition was entered) is reinstated, and the class object is bound here to the class name given in the class definition header.

9.3.2. Class Objects

   Class objects support two kinds of operations: attribute references and instantiation.

   Attribute references use the standard syntax used for all attribute references in Python: obj.name. Valid attribute names are all the names that were in the class’s namespace when the class object was created. So, if the class definition looked like this:

In [2]:
class MyClass:
    """A simple example class"""
    i = 12345

    def f(self):
        return 'hello world'

then MyClass.i and MyClass.f are valid attribute references, returning an integer and a function object, respectively. Class attributes can also be assigned to, so you can change the value of MyClass.i by assignment. __doc__ is also a valid attribute, returning the docstring belonging to the class: "A simple example class".

Class instantiation uses function notation. Just pretend that the class object is a parameterless function that returns a new instance of the class. For example (assuming the above class):

In [48]:
n = [1,2,3,4,5, 5]
def maxnumber(n):
    second_largest = -1000000
    maxnum = -1000000
    l = len(n)
    for second in range(l):
        if n[second] > second_largest:
            second_largest = n[second]
    for number in range(l):
        if n[number] > maxnum:
            maxnum = n[number]
    second_largest < maxnum
    return maxnum
    return second_largest
maxnumber(n)

5

In [62]:
arr = [1,2,3,4,5, 5]
def maxnumber(arr):
    second = -1000000
    largest= -1000000
    for idx in range(len(arr), + 1):
        if arr[idx] > largest:
            largest = arr[idx]
        if arr[idx] >= second and arr[idx] != largest:
            second = arr[idx]
    return (second, largest)

maxnumber(arr)

(-1000000, -1000000)

In [76]:
arr = [50005, 33, -551,2,3,50000, 50000, 4,55555, 55555, 5, 5]

def second(arr):
    largest = -100000000
    second = -10000000
    for idx in range(len(arr)):
        num = arr[idx]
        if num > largest:
            second = largest
            largest = num
        elif num == largest:
            pass # means do nothing
        elif num > second:
            second = num
    return second
second(arr)

50005

In [30]:
n = [1,2,3,4,5,5]
n.sort()
n.unique()
n[-2]

AttributeError: 'list' object has no attribute 'unique'

In [33]:
n = [1,2,3,4,5, 5, 5]
a = sorted(np.unique(n), reverse=True)
a[1]

NameError: name 'np' is not defined

In [39]:
n = [1,2,3,4,5, 5, 5]
a = sorted(list(set(n)),` reverse=True)
a[1]

4

In [77]:
from itertools import product

In [145]:
A = [1,2,3]
B = [4,5]

print(' '.join(map(str, product(A,B))))

(1, 4) (1, 5) (2, 4) (2, 5) (3, 4) (3, 5)

In [114]:
arr = [161, 182, 161, 154, 176, 170, 167, 171, 170, 174]

def average(array):
    # your code goes here
    list_set = set(arr)
    unique_list = (list(list_set)) 
    for arr in unique_list: 
        print(arr)
result = sum(arr) / float(len(arr))
print(result)

168.6

In [119]:
def average(array):
    return sum(set(array))/len(set(array))
result = average(arr)
print(result)

169.375

## More Info On Lists

In [1]:
list.append(x)
#Add an item to the end of the list.
list.extend(iterable)
#Extend the list by appending all the items from the iterable

list.insert(i, x)
#Insert an item at a given position. .append(x).

list.remove(x)
#Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

list.pop([i])
#Remove the item at the given position in the list, and return it. If no index is specified, a.pop() removes and returns the last item in the list. (The square brackets around the i in the method signature denote that the parameter is optional, not that you should type square brackets at that position. You will see this notation frequently in the Python Library Reference.)

list.clear()
#Remove all items from the list. Equivalent to del a[:].

list.index(x[, start[, end]])
#Return zero-based index in the list of the first item whose value is equal to x. Raises a ValueError if there is no such item.

#The optional arguments start and end are interpreted as in the slice notation and are used to limit the search to a particular subsequence of the list. The returned index is computed relative to the beginning of the full sequence rather than the start argument.

list.count(x)
#Return the number of times x appears in the list.

list.sort(key=None, reverse=False)
#Sort the items of the list in place (the arguments can be used for sort customization, see sorted() for their explanation).

list.reverse()
#Reverse the elements of the list in place.

list.copy()
#Return a shallow copy of the list.

NameError: name 'x' is not defined

In [9]:
 fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
 fruits.count('apple')

 fruits.count('tangerine')

 fruits.index('banana')

 fruits.index('banana', 4)  # Find next banana starting at position 4

 fruits.reverse()
 
['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']
 fruits.append('grape')

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']
 fruits.sort()

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']
 fruits.pop()

2

0

3

6

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

'pear'

In [52]:
fruits = ['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']
thingiwant = fruits.pop()
fruits
thingiwant

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange']

'pear'

## Using Lists As Stacks

The list methods make it very easy to use a list as a stack, where the last element added is the first element retrieved ( “last-in, first-out” ). To add an item to the top of the stack, use append(   ). To retrieve an item from the top of the stack, use pop(  ) without an explicit index. For example:

In [11]:
 stack = [3, 4, 5]
 stack.append(6)
 stack.append(7)
 stack

 stack.pop()
    
 stack

 stack.pop()

 stack.pop()

 stack

[3, 4, 5, 6, 7]

7

[3, 4, 5, 6]

6

5

[3, 4]

## Using Lists As Queues

In [13]:
 from collections import deque
 queue = deque(["Eric", "John", "Michael"])
 queue.append("Terry")           # Terry arrives
 queue.append("Graham")          # Graham arrives
 queue.popleft()                 # The first to arrive now leaves

 queue.popleft()                 # The second to arrive now leaves

 queue                           # Remaining queue in order of arrival

'Eric'

'John'

deque(['Michael', 'Terry', 'Graham'])

## List Comprehensions

List comprehensions provide a concise way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

For example, assume we want to create a list of squares, like:

In [17]:
 squares = []
 for x in range(10):
     squares.append(x**2)

 squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Note that this creates (or overwrites) a variable named x that still exists after the loop completes. We can calculate the list of squares without any side effects using:

In [27]:
squares = list(map(lambda x: x**2, range(10)))

#or, equivalently:

squares = [x**2 for x in range(10)] #easier to read

A list comprehension consists of brackets containing an expression followed by a for clause, then zero or more for or if clauses. The result will be a new list resulting from evaluating the expression in the context of the for and if clauses which follow it. For example, this listcomp combines the elements of two lists if they are not equal:

In [28]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

#and it’s equivalent to:


combs = []
for x in [1,2,3]:
     for y in [3,1,4]:
         if x != y:# if x not equal to y
             combs.append((x, y))
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

## Nested List Comprehensions

The initial expression in a list comprehension can be any arbitrary expression, including another list comprehension.

Consider the following example of a 3x4 matrix implemented as a list of 3 lists of length 4:

In [29]:
matrix = [
     [1, 2, 3, 4],
     [5, 6, 7, 8],
     [9, 10, 11, 12],
 ]

In [30]:
#The following list comprehension will transpose rows and columns:

[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [31]:
# ^^ equivalent to v 
transposed = []
for i in range(4):
     transposed.append([row[i] for row in matrix])
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [35]:
#also same as this v
transposed = []
for i in range(4):
     # the following 3 lines implement the nested listcomp
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In the real world, you should prefer built-in functions to complex flow statements. The zip(  ) function would do a great job for this use case:

In [36]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

## The Del Statement

There is a way to remove an item from a list given its index instead of its value: the del statement. This is different from the pop(  ) method which returns a value. The del statement can also be used to remove slices from a list or clear the entire list). 

For example:

In [42]:
 a = [-1, 1, 66.25, 333, 333, 1234.5]
 del a[0]
 a

 del a[2:4]
 a

 del a[:]
 a

[1, 66.25, 333, 333, 1234.5]

[1, 66.25, 1234.5]

[]

## Tuples and Sequences

A tuple consists of a number of values separated by commas.

For example:

In [25]:
t = 12345, 54321, 'hello!'
t[0]

t

 # Tuples may be nested:
u = t, (1, 2, 3, 4, 5)
u

 # Tuples are immutable:
t[0] = 88888

12345

(12345, 54321, 'hello!')

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

TypeError: 'tuple' object does not support item assignment

In [33]:
 # but they can contain mutable objects:
v = ([1, 2, 3], [3, 2, 1])
v[0][1] = 100
# v[0] = [20, 30, 40] error not mutable
v

w = (2, 3)
w[0] = 1000

TypeError: 'tuple' object does not support item assignment

Output of tuples are always in parentheses

## Comparison Operators

Less than   :   <

Greater than    :   >

Less than or equal to   :   <=

Greater than or equal to  :   >=

Equal to   :  ==

Not equal to  :   !=

## Sets

A set is an unordered collection with no duplicate elements. Can be used for membership testing and eliminating duplicate entries. Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

Curly braces or the set() function can be used to create sets. Note: to create an empty set you have to use set(), not {}; the latter creates an empty dictionary, a data structure that we discuss in the next section.

In [38]:
lst = [1, 2,3,4,3,3]
lst
list(set(lst))

[1, 2, 3, 4, 3, 3]

[1, 2, 3, 4]

In [34]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket

{'apple', 'banana', 'orange', 'pear'}

In [44]:
 print('abc')

abc

In [43]:
print(basket)                      # show that duplicates have been removed
'orange' in basket

{'orange', 'pear', 'apple', 'banana'}

True

In [46]:


# Demonstrate set operations on unique letters from two words

a = set('abracadabra')
b = set('alacazam')
a
b
a - b                              # letters in a but not in b

a | b                              # letters in a or b or both

a & b                              # letters in both a and b

a ^ b                              # letters in a or b but not both

{'a', 'b', 'c', 'd', 'r'}

{'a', 'c', 'l', 'm', 'z'}

{'b', 'd', 'r'}

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

{'a', 'c'}

{'b', 'd', 'l', 'm', 'r', 'z'}

## Dictionaries

Dictionaries are indexed by keys, which can be any immutable type. For example, strings and numbers can always be keys. Tuples can also be used as keys if they contain only strings, numbers, or tuples. If a tuple contains any mutable object either directly or indirectly, it cannot be used as a key. You can’t use lists as keys, since lists can be modified in place using index assignments, slice assignments, or methods like append() and extend().

It is best to think of a dictionary as a set of key: value pairs, with the requirement that the keys are unique (in one dictionary). A pair of braces creates an empty dictionary: {}. Placing a comma-separated list of key:value pairs within the braces adds initial key:value pairs to the dictionary. This is also the way dictionaries are written in output.

The main operations on a dictionary are storing a value with some key and extracting the value given the key. It is also possible to delete a key:value pair with del. If you store using a key that is already in use, the old value associated with that key is forgotten. It is an error to extract a value using a non-existent key.

Performing list(d) on a dictionary returns a list of all the keys used in the dictionary, in insertion order (if you want it sorted, just use sorted(d) instead). To check whether a single key is in the dictionary, use the in keyword.

In [11]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

tel['jack']

del tel['sape']
tel['irv'] = 4127
tel

list(tel)

sorted(tel)

'guido' in tel

'jack' not in tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

4098

{'jack': 4098, 'guido': 4127, 'irv': 4127}

['jack', 'guido', 'irv']

['guido', 'irv', 'jack']

True

False

In [13]:
#The dict() constructor makes dictionaries directly from sequences of key-value pairs:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [15]:
{x: x**2 for x in (2, 4, 6)}
#dict comprehensions can also be used to create dictionaries from arbitrary keys and value expressions

{2: 4, 4: 16, 6: 36}

## Looping Techniques

In [16]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
     print(k, v)

gallahad the pure
robin the brave

In [18]:
#When looping through a sequence, the position index and corresponding value can 
#be retrieved at the same time using the enumerate() function.

for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [21]:
#To loop over two or more sequences at the same time, the entries can be paired with the zip() function.

questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
     print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [22]:
#To loop over a sequence in reverse, first specify the 
#sequence in a forward direction and then call the reversed() function.

for i in reversed(range(1, 10, 2)):
     print(i)

9
7
5
3
1

In [23]:
#To loop over a sequence in sorted order, use the sorted() 
#function which returns a new sorted list while leaving the source unaltered.

basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
     print(f)

apple
banana
orange
pear

## Modules

Python has a way to put definitions in a file and use them in a script or in an interactive instance of the interpreter. This file is called a module, definitions from a module can be imported into other modules or into the main module.

A module is a file containing Python definitions and statements. The file name is the module name with the suffix .py appended. Within a module, the module’s name (as a string) is available as the value of the global variable __name__.

In [35]:
def fib(n):    # write Fibonacci series up to n
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

def fib2(n):   # return Fibonacci series up to n
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result

In [92]:
import fibo

In [19]:
fibo.fib(1000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

Modules can import other modules.

In [30]:
from fibo import fib, fib2
fib2(500)
fib(500)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

You can also import all the names that a module defines

In [34]:
from fibo import * # star means all or everything
fib(500)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [40]:
import fibo as fib
fibo.fib2(500)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [51]:
from fibo import fib, fib2 as fibonacci2
fibonacci(500)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

## Packages

Packages are a way to structure Pythong's module namespace using "dotted module names". For exampe, the module name A.B designates a submodule named B in a package named A. 

A package is a collection of Python modules.

??

## Input and Output

In [53]:
#Formatted string literals start with an f and replace the 
#expressions in the curly brackets with their values
year = 2016
event = 'Referendum'
f'Results of the {year} {event}'

'Results of the 2016 Referendum'

In [55]:
yes_votes = 42_572_654
no_votes = 43_132_495
percentage = yes_votes / (yes_votes + no_votes)
'{:-9} YES votes  {:2.2%}'.format(yes_votes, percentage)

' 42572654 YES votes  49.67%'

In [57]:
yes_votes = 42_572_654
no_votes = 43_132_495
percentage = no_votes / (yes_votes + no_votes)
'{:-9} NO votes  {:2.2%}'.format(no_votes, percentage)

' 43132495 NO votes  50.33%'

In [63]:
# str()  -  
# repr()  -

k = 'Hi, I like dogs'
str(k)
repr(k)

'Hi, I like dogs'

"'Hi, I like dogs'"

In [66]:
str(10/2)
repr(10/2)

'5.0'

'5.0'

Passing an integer after the '  :  ' will cause that field to be a minimum number of characters wide. This is useful for making columns line up.

In [75]:
table = {'Cat': 4127, 'Dog': 4098, 'Bunny': 7678}
for name, number in table.items():
     print(f'{name:10} ==> {number:10}')

Cat        ==>       4127
Dog        ==>       4098
Bunny      ==>       7678

## str.format(  )

str.format(  ) uses the strings in the bracket to replace the {  } in the string:

In [78]:
print('I really like {} and {}!'.format('dogs', 'cats'))

I really like dogs and cats!

Putting numbers in the curly brackets can refer to the position of the object that is being passed into the str.format()

In [79]:
print('I really like {1} and {0}!'.format('dogs', 'cats'))
print('I really like {0} and {1}!'.format('dogs', 'cats'))

I really like cats and dogs!
I really like dogs and cats!

You can also use keyword arguments and their values are referred to by using the name of the arguement.

In [81]:
print('These {food} are {adjective}!'.format(
       food ='noodles', adjective ='delicious'))

These noodles are delicious!

Positional and keyword arguments can also be combined

In [85]:
print('I really like {1}, {0}, and {animal}!'.format('dogs', 'cats', animal = 'bunnies'))

I really like cats, dogs, and bunnies!

If you have a long format string that you don't want to split up, you can use the '**' notation

In [90]:
table = {'Dogs': 4127, 'Cats': 4098, 'Bunnies': 8637678}
>>> print('Cats: {Cats:}; Dogs: {Dogs:}; Bunnies: {Bunnies:}'.format(**table))

Cats: 4098; Dogs: 4127; Bunnies: 8637678

In [91]:
for x in range(1, 11):
     print('{0:2d} {1:3d} {2:4d}'.format(x, x*x, x*x*x))

 1   1    1
 2   4    8
 3   9   27
 4  16   64
 5  25  125
 6  36  216
 7  49  343
 8  64  512
 9  81  729
10 100 1000

## Syntax Errors

Syntac errors are also known as parsing errors. It is when a character or string is incorrectly placed in a command or instruction which causes a failure in execution

In [ ]:
while True print('Hello world')
# this gives a syntax error because it is missing a colon(:), after print().

In [ ]:
while True:
    print('Hello world')

## Classes

Classes provide a way to group data and functionality together. Creating a new classes creates a new type of object which allows new instances to occur. Each class instance can have attributes attached to it for maintaining its state. Class instances can also have methods (defined by its class) for modifying its state.

## Objects

Objects have individuality, and multiple names (in multiple scopes) which can be bound to the same object. This is known as aliasing in other languages. This is usually not appreciated, and can be safely ignored when dealing with immutable basic types such as numbers, strings, and tuples.

## Namespace

A namespace is used to create a seperate region for a group of variables, function, classes, etc. Most namespaces are used as Python dictionaries. Namespaces are created at different times and have different lifetimes. The namespace containing the built-in names is created when the Python interpreter starts up, and is never deleted. The global namespace for a module is created when the module definition is read in, normally, module namespaces also last until the interpreter quits.

## Class Objects

Class objects support two kinds of operations: attribute references and instantiation. Attribute references use the standard syntax used for all attribute references in Python. If the class definition looked like this:

In [29]:
class MyClass:
    """A simple example class"""
    i = 12345

    def f(self):
        return'hello world'

In [24]:
MyClass.i

12345

In [30]:
MyClass.f

MyClass.i and MyClass.f are valid attribute references, returning an integer and a function object, respectively. Class attributes can also be assigned, so you can change the value of MyClass.i by assignment.

## Class and Instance Variables

In [34]:
class Dog:

    kind = 'canine'         # class variable shared by all instances

    def __init__(self, name):
        self.name = name    # instance variable unique to each instance

d = Dog('Lily')
e = Dog('Buddy')
d.kind                  # shared by all dogs

e.kind                  # shared by all dogs

d.name                  # unique to d

e.name                  # unique to e

'canine'

'canine'

'Lily'

'Buddy'